@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display&family=Quintessential&family=Redressed&family=Roboto+Slab:wght@300&family=Supermercado+One&display=swap');

  .MyCARTdesing{
color: blue;
  }
  .firstRighty{
    width: 25rem;
    height: 20rem;
  }
  .forH_W{
    width: 21rem;
    height: 20rem;
    margin-left: 2rem;

  }
  .bifimage_img{
    width: 23rem;
    height: 20rem;
    margin-top: 2rem;
    font-size:1.5rem;
    padding: 2rem;
  }
  .leftSideBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    margin-right: 20rem;
    flex-wrap: wrap;
    height: 25rem;
  }
  .bloobtn{
    margin-left: 3rem;
  }